<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/styles/styles.css">
</head>
<body>
    <pre>
-----------------------------------------
--------- BTS ---------------------------
-----------------------------------------
-------------------------- detector -----
------------------------------ 2022 ッ --
-----------------------------------------



world class ARMY radar
            
- 999% accuracy -
            
* * * <a href="">source code</a> * * *
        
* * *
    </pre>

<form method="POST">
    <input name="link" placeholder="enter spotify id"> <br>
    <br>
    <input type="submit">
</form>


<pre style="text-align: left;">



    
    ▬▬▬.◙.▬▬▬
    ═▂▄▄▓▄▄▂ 
    ◢◤ █▀▀████▄▄▄▄◢◤ 
    █▄ █ █▄ ███▀▀▀▀▀▀▀╬ 
    ◥█████◤
    ══╩══╩═
    ╬═╬
    ╬═╬
    ╬═╬
    ╬═╬
    ╬═╬    are u
    ╬═╬
    ╬═╬    fan of jungkook???
    ╬═╬ ☻/ 
    ╬═╬/▌ 
    ╬═╬/  \
</pre>

</body>
</html>